.container-fluid img{
    width: 170px;
}

.ban{
    margin-left: 10%;
    height: 200;
}
.card{
    background-color:aliceblue;
}
.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.text-dark{
    font-size: 17px;
}

.carousel-control-prev
{
    color: #000;
}